{{- /* Winget package list based on feature flags */ -}}
{
  "$schema": "https://aka.ms/winget-packages.schema.2.0.json",
  "CreationDate": "{{ now | date "2006-01-02T15:04:05.000-00:00" }}",
  "Sources": [
    {
      "Packages": [
{{- range .always_install.winget }}
        { "PackageIdentifier": "{{ . }}" },
{{- end }}
{{- range $feature, $enabled := .package_features }}
  {{- if $enabled }}
    {{- if hasKey $.package_mapping $feature }}
      {{- $mapping := index $.package_mapping $feature }}
      {{- if hasKey $mapping "winget" }}
        {{- range index $mapping "winget" }}
        { "PackageIdentifier": "{{ . }}" },
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
        { "PackageIdentifier": "__end__" }
      ],
      "SourceDetails": {
        "Argument": "https://cdn.winget.microsoft.com/cache",
        "Identifier": "Microsoft.Winget.Source_8wekyb3d8bbwe",
        "Name": "winget",
        "Type": "Microsoft.PreIndexed.Package"
      }
    }
  ],
  "WinGetVersion": "1.7.10514"
}
