version: '1.0'
configs_dir: {{ .chezmoi.homeDir }}/.lde/configs
active_config: work
configs:
  work:
    type: local
    created: '2026-02-06T06:26:48.032034+00:00'
    migrated_from: {{ .chezmoi.homeDir }}/.lde.yml
