<?xml version="1.0" encoding="UTF-16"?>

<Task version="1.2" xmlns="http://schemas.microsoft.com/windows/2004/02/mit/task">

  <RegistrationInfo>

    <URI>\MSIAfterburner</URI>

  </RegistrationInfo>

  <Principals>

    <Principal id="Author">

      <UserId>{{ .chezmoi.hostname }}\{{ .chezmoi.username }}</UserId>

      <LogonType>InteractiveToken</LogonType>

      <RunLevel>HighestAvailable</RunLevel>

    </Principal>

  </Principals>

  <Settings>

    <DisallowStartIfOnBatteries>false</DisallowStartIfOnBatteries>

    <StopIfGoingOnBatteries>false</StopIfGoingOnBatteries>

    <ExecutionTimeLimit>PT0S</ExecutionTimeLimit>

    <MultipleInstancesPolicy>IgnoreNew</MultipleInstancesPolicy>

    <StartWhenAvailable>true</StartWhenAvailable>

    <IdleSettings>

      <Duration>PT10M</Duration>

      <WaitTimeout>PT1H</WaitTimeout>

      <StopOnIdleEnd>false</StopOnIdleEnd>

      <RestartOnIdle>false</RestartOnIdle>

    </IdleSettings>

  </Settings>

  <Triggers>

    <LogonTrigger />

  </Triggers>

  <Actions Context="Author">

    <Exec>

      <Command>{{ .chezmoi.homeDir }}\scoop\apps\msiafterburner\current\MSIAfterburner.exe</Command>

      <Arguments>/s</Arguments>

    </Exec>

  </Actions>

</Task>
