# pip configuration - XDG compliant
# https://pip.pypa.io/en/stable/topics/configuration/

[global]
# Disable version check to speed up commands
disable-pip-version-check = true

# Prefer binary packages
prefer-binary = true

# Timeout for network operations
timeout = 60

[install]
# Don't compile bytecode  
compile = false

# User install by default (unless in virtualenv)
{{- if ne .chezmoi.os "windows" }}
user = true
{{- end }}

[list]
# Format for pip list
format = columns

[freeze]
# Exclude editable packages from freeze
exclude-editable = false
